<div class="w-1/3 h-[60vh] border rounded bg-blue-400 bg-opacity-20">
    <div class="w-full bg-white p-2 h-full bg-opacity-50 rounded shadow-lg">
        <div class="w-full flex flex-wrap p-4">
            <div class="w-[60%]">
                <img class="" src="assets/Images/floatleftlogo.png" alt="">
                <p class="text-center text-2xl font-bold text-red-600">{{stuff.role}}</p>

            </div>
            <div class="w-[40%] flex justify-center items-center">
                <i class="fa-solid fa-user text-gray-400  text-[7rem]"></i>
            </div>
        </div>
        <hr>
        <div class="mx-2  font-bold text-gray-500">
            Staff No :{{stuff.staffNo}} <br>
            Name :{{stuff.name}} <br>
            Surname :{{stuff.surname}} <br>
            Phone no :{{stuff.phone}} <br>
            Email :{{stuff.email}} <br>
        </div>
    </div>
</div>